.animate__animated.animate__fadeIn {
    --animate-duration: 3s;
}

.console-main {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1rem;
}

.mobile-restrict-overlay {
    position: absolute;
    z-index: 9999;
}

.mobile-restrict-overlay img {
    width: 100%;
    fill: var(--main-color);
}

.mobile-restrict-description {
    border: 4px solid var(--main-color);
}

.mobile-restricted-image {
    margin-top: 4vh;
}

.console-main::-webkit-scrollbar {
    display: none;
}

.console-main {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.console {
    display: flex;
}

.console-input {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    caret-color: transparent;
    color: var(--main-color);
}

.console-input:focus {
    outline: none;
}

.console-main form {
    height: 2rem;
    margin-bottom: 1.5rem;
}

.console-main form * {
    margin-top: auto;
    margin-bottom: auto;
}

.terminal-prefix {
    color: white;
}

.client-prefix {
    color: #14fdce;
}

.ascii-text {
    min-height: 1.75rem !important;
}

@media screen and (max-width: 1024px) {
    .console-main {
        font-size: 2.25vw;
    }

    .ascii-text {
        line-height: 2.25vw !important;
        font-size: 2.25vw !important;
    }

    .mobile-restrict-description {
        padding: 1rem;
    }

    .mobile-restrict-description a {
        font-size: 2.5rem;
        margin-bottom: .5rem;
    }

    .mobile-restrict-description p {
        margin-top: .5rem !important;
        margin-bottom: .5rem !important;
    }
}

@media screen and (min-width: 2000px) {
    #adminManagerMain {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (min-width: 3000px) {
    #adminManagerMain {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .console-main {
        font-size: 2.25rem;
    }
}