.social-logo {
    height: 1.75rem;
    width: 1.75rem;
    margin-left: .25rem;
    margin-right: .25rem;
    display: flex;
}

@media screen and (max-width: 1280px) {
    .social {
        justify-content: start !important;
    }
}

@media screen and (min-width: 2000px) {
    .social-logo {
        height: 1.2vw;
        width: 1.2vw;
    }
}