.welcome-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.welcome-overlay {
    position: fixed;
    z-index: -1;
    opacity: 0.025;
    object-fit: cover;
    width: 100%;
}

.welcome-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.welcome-logo {
    object-fit: contain;
    width: 20vw;
    margin-bottom: 3rem;
}

.welcome-logo:hover {
    filter: unset;
}

.welcome-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    margin-bottom: 20vh;
}

.welcome-button:first-of-type {
    border-top: var(--border-size) solid green;
    border-left: var(--border-size) solid green;
    border-right: none;
}

.welcome-button:hover,
.welcome-button:focus-visible,
.welcome-button:focus-within,
.welcome-button:active,
.welcome-button:focus {
    color: var(--main-color) !important;
    text-shadow: 0 0 1ex var(--main-color), 0 0 2px rgba(255, 255, 255, 0.8);
}

.welcome-button {
    border-top: var(--border-size) solid green;
    border-right: var(--border-size) solid green;
    padding-right: 1rem;
    padding-top: .25rem;
    padding-left: 1rem;
    font-size: 2rem;
    width: 15vw;
    text-align: center;
}

.welcome-footer-image {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    cursor: pointer;
}

.welcome-button-v2 {
    padding: .05rem 3rem;
}

.welcome-button-v2:hover,
.welcome-button-v2:active,
.welcome-button-v2:focus {
    color: var(--main-color) !important;
    text-shadow: 0 0 1ex var(--main-color), 0 0 2px rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 2200px) {
    .welcome-button {
        font-size: 3rem;
    }

    .welcome-logo {
        width: 20vw;
        margin-bottom: 5rem;
    }
}

@media screen and (min-width: 3000px) {
    .welcome-button {
        font-size: 3rem;
    }

    .welcome-logo {
        width: 18vw;
    }
}

@media screen and (min-width: 3500px) {
    .welcome-button {
        font-size: 4rem;
    }

    .welcome-logo {
        width: 20vw;
        margin-bottom: 8rem;
    }
}

@media screen and (max-width: 1024px) {
    .welcome-buttons {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .welcome-button {
        width: unset;
        margin-bottom: 1rem;
    }

    .welcome-button:last-of-type {
        border-bottom: var(--border-size) solid green !important;
        border-top: none;
        border-right: var(--border-size) solid green;
        padding-right: var(--border-size);
    }

    .welcome-logo {
        width: 60vw;
    }

    .welcome-footer-image {
        object-fit: none;
        margin-bottom: 1rem;
        height: 50px;
    }
}